.tagss {
    font-weight: 600;
    font-size: 18px;
}

.tagss.active {
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid white;
}

.mybutn {
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    width: auto;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(80, 45, 100, 1) 40%, rgba(36, 33, 31, 1) 100%, rgba(252, 176, 69, 1) 100%);

    /* background-color: #00A0E4; */
}